n8n-workflows/abonnements/rappel-renouvellement.json
{
  "name": "Rappel Renouvellement J-7",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rappel-renouvellement",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-rappel-j7",
      "name": "Webhook Rappel J-7",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "rappel-renouvellement-j7"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.email}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.body.subscription_id}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.body.plan_name}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validation-donnees",
      "name": "Validation Données",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{$json.body.app_url}}/api/email/send",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{$json.body.email}}\",\n  \"subject\": \"⏰ Votre abonnement se renouvelle dans 7 jours\",\n  \"html\": \"<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;color:#333}.header{background:#4F46E5;color:white;padding:20px;text-align:center}.content{padding:30px}.highlight{background:#F3F4F6;padding:15px;border-radius:8px;margin:20px 0}.cta{background:#4F46E5;color:white;padding:12px 24px;text-decoration:none;border-radius:6px;display:inline-block;margin-top:20px}.footer{background:#F9FAFB;padding:20px;text-align:center;font-size:12px;color:#6B7280}</style></head><body><div class='header'><h1>⏰ Rappel de Renouvellement</h1></div><div class='content'><p>Bonjour {{$json.body.first_name}},</p><p>Nous vous rappelons que votre abonnement <strong>{{$json.body.plan_name}}</strong> sera renouvelé automatiquement dans <strong>7 jours</strong>.</p><div class='highlight'><h3>📋 Détails de l'abonnement</h3><p><strong>Formule :</strong> {{$json.body.plan_name}}</p><p><strong>Montant :</strong> {{$json.body.amount}}€/mois</p><p><strong>Date de renouvellement :</strong> {{$json.body.renewal_date}}</p><p><strong>Moyen de paiement :</strong> {{$json.body.payment_method}}</p></div><p><strong>Aucune action n'est requise</strong> de votre part. Le paiement sera effectué automatiquement avec votre moyen de paiement enregistré.</p><h3>💡 Besoin de modifier quelque chose ?</h3><ul><li>Changer votre formule ? <a href='{{$json.body.app_url}}/billing'>Gérer mon abonnement</a></li><li>Mettre à jour votre carte bancaire ? <a href='{{$json.body.app_url}}/billing'>Modifier mon moyen de paiement</a></li><li>Annuler votre abonnement ? <a href='{{$json.body.app_url}}/billing'>Résilier</a></li></ul><p><a href='{{$json.body.app_url}}/billing' class='cta'>Gérer mon abonnement</a></p><p>Merci de votre confiance !</p><p>L'équipe TalosPrimes</p></div><div class='footer'><p>© 2026 TalosPrimes - Tous droits réservés</p><p>Si vous avez des questions, contactez-nous : <a href='mailto:support@talosprimes.com'>support@talosprimes.com</a></p></div></body></html>\"\n}",
        "options": {}
      },
      "id": "email-rappel",
      "name": "Email Rappel J-7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "={{$json.body.app_url}}/api/sms/send",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{$json.body.phone}}\",\n  \"message\": \"⏰ Rappel TalosPrimes : Votre abonnement {{$json.body.plan_name}} ({{$json.body.amount}}€) se renouvelle dans 7 jours. Aucune action requise. Plus d'infos sur votre compte.\"\n}",
        "options": {}
      },
      "id": "sms-rappel",
      "name": "SMS Rappel (optionnel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Rappel J-7 envoyé\"}",
        "options": {}
      },
      "id": "response-success",
      "name": "Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"message\": \"Données invalides\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "response-error",
      "name": "Response Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook Rappel J-7": {
      "main": [
        [
          {
            "node": "Validation Données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Données": {
      "main": [
        [
          {
            "node": "Email Rappel J-7",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMS Rappel (optionnel)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Rappel J-7": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Rappel (optionnel)": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "rappel-renouvellement-j7",
  "meta": {
    "instanceId": "talosprime-production"
  },
  "tags": []
}
