n8n-workflows/abonnements/renouveler-abonnement.json
{
  "name": "Renouveler Abonnement (Email Reçu)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "renouveler-abonnement",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-renouveler",
      "name": "Webhook Renouvellement",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 400],
      "webhookId": "renouveler-abonnement"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.talosprimes.com/api/email/send",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.email }}"
            },
            {
              "name": "subject",
              "value": "✅ Reçu de paiement Talos Prime - {{ $json.amount }}€"
            },
            {
              "name": "html",
              "value": "<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f5f5f5;\"><div style=\"background: linear-gradient(135deg, #10b981 0%, #059669 100%); padding: 30px; text-align: center; border-radius: 10px 10px 0 0;\"><h1 style=\"color: white; margin: 0; font-size: 28px;\">✅ Paiement Reçu</h1></div><div style=\"background-color: white; padding: 40px; border-radius: 0 0 10px 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\"><p style=\"font-size: 16px; color: #333; margin-bottom: 15px;\">Bonjour <strong>{{ $json.first_name || 'Cher client' }}</strong>,</p><p style=\"font-size: 16px; color: #333; margin-bottom: 25px;\">Nous avons bien reçu votre paiement. Merci de votre confiance !</p><div style=\"background: #f0fdf4; border-left: 4px solid #10b981; padding: 25px; margin: 30px 0; border-radius: 8px;\"><h2 style=\"color: #047857; margin-top: 0; font-size: 20px;\">💳 Détails du paiement</h2><p style=\"margin: 10px 0; font-size: 15px;\"><strong>Montant :</strong> {{ $json.amount }}€</p><p style=\"margin: 10px 0; font-size: 15px;\"><strong>Date :</strong> {{ $json.payment_date }}</p><p style=\"margin: 10px 0; font-size: 15px;\"><strong>Formule :</strong> {{ $json.plan_name }}</p><p style=\"margin: 10px 0; font-size: 15px;\"><strong>Numéro de facture :</strong> {{ $json.invoice_number }}</p></div><div style=\"background: #dbeafe; border-left: 4px solid #2563eb; padding: 20px; margin: 30px 0; border-radius: 8px;\"><h3 style=\"color: #1e40af; margin-top: 0; font-size: 18px;\">📅 Prochain prélèvement</h3><p style=\"margin: 10px 0; font-size: 15px;\"><strong>Date :</strong> {{ $json.next_payment_date }}</p><p style=\"margin: 10px 0; font-size: 15px;\"><strong>Montant :</strong> {{ $json.amount }}€</p></div><div style=\"text-align: center; margin: 35px 0;\"><a href=\"https://www.talosprimes.com/billing\" style=\"display: inline-block; background: #2563eb; color: white; padding: 14px 35px; text-decoration: none; border-radius: 8px; font-weight: bold; font-size: 15px; box-shadow: 0 4px 12px rgba(37, 99, 235, 0.3); margin: 5px;\">📄 Voir mes factures</a><a href=\"{{ $json.invoice_pdf }}\" style=\"display: inline-block; background: #10b981; color: white; padding: 14px 35px; text-decoration: none; border-radius: 8px; font-weight: bold; font-size: 15px; box-shadow: 0 4px 12px rgba(16, 185, 129, 0.3); margin: 5px;\">📥 Télécharger PDF</a></div><div style=\"margin-top: 35px; padding-top: 25px; border-top: 1px solid #e5e7eb;\"><p style=\"font-size: 14px; color: #666; margin: 5px 0;\">Questions sur votre facture ?</p><p style=\"font-size: 14px; color: #666; margin: 5px 0;\">📧 Email : billing@talosprimes.com</p></div><p style=\"font-size: 14px; color: #999; margin-top: 40px; padding-top: 20px; border-top: 1px solid #eee; text-align: center;\">Merci de votre confiance - L'équipe Talos Prime</p></div></div>"
            }
          ]
        },
        "options": {}
      },
      "id": "send-email-receipt",
      "name": "Email Reçu Paiement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [470, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Reçu envoyé\" } }}"
      },
      "id": "response-success",
      "name": "Réponse Succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 400]
    }
  ],
  "connections": {
    "Webhook Renouvellement": {
      "main": [
        [
          {
            "node": "Email Reçu Paiement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Reçu Paiement": {
      "main": [
        [
          {
            "node": "Réponse Succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-30T12:00:00.000Z",
  "versionId": "1"
}

