n8n-workflows/leads/creation-lead-complet.json
{
  "name": "Création Lead Complet",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nouveau-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Nouveau Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "nouveau-lead"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.email }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.first_name }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.last_name }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validation",
      "name": "Validation Données",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.talosprimes.com/api/platform/leads",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $json.body.first_name }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.body.last_name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.phone }}"
            },
            {
              "name": "company",
              "value": "={{ $json.body.company }}"
            },
            {
              "name": "source",
              "value": "={{ $json.body.source || 'web' }}"
            },
            {
              "name": "notes",
              "value": "={{ $json.body.notes }}"
            },
            {
              "name": "status",
              "value": "new"
            }
          ]
        },
        "options": {}
      },
      "id": "create-lead",
      "name": "Créer Lead API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [690, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.talosprimes.com/api/email/send",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "subject",
              "value": "Bienvenue - Votre demande a été reçue"
            },
            {
              "name": "html",
              "value": "=<h1>Bonjour {{ $json.body.first_name }} {{ $json.body.last_name }}</h1><p>Nous avons bien reçu votre demande. Notre équipe vous contactera dans les plus brefs délais.</p><h2>Informations de votre demande :</h2><ul><li><strong>Email :</strong> {{ $json.body.email }}</li><li><strong>Téléphone :</strong> {{ $json.body.phone }}</li><li><strong>Entreprise :</strong> {{ $json.body.company }}</li></ul><p>Cordialement,<br>L'équipe Talos Prime</p>"
            }
          ]
        },
        "options": {}
      },
      "id": "send-email",
      "name": "Envoyer Email Bienvenue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [910, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.talosprimes.com/api/sms/send",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Bonjour {{ $json.body.first_name }}, nous avons bien reçu votre demande. Notre équipe vous contactera prochainement. - Talos Prime"
            }
          ]
        },
        "options": {}
      },
      "id": "send-sms",
      "name": "Envoyer SMS Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🎉 Nouveau Lead créé !\n*Nom :* {{ $json.body.first_name }} {{ $json.body.last_name }}\n*Email :* {{ $json.body.email }}\n*Téléphone :* {{ $json.body.phone }}\n*Entreprise :* {{ $json.body.company }}\n*Source :* {{ $json.body.source }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-slack",
      "name": "Notifier Slack (Optionnel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Lead créé avec succès\", \"lead_id\": $node[\"Créer Lead API\"].json.id } }}"
      },
      "id": "response-success",
      "name": "Réponse Succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1530, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ { \"success\": false, \"message\": \"Données invalides\", \"errors\": [\"Les champs first_name, last_name et email sont obligatoires\"] } }}"
      },
      "id": "response-error",
      "name": "Réponse Erreur",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 400]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "wait",
      "name": "Attendre 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [910, 200]
    }
  ],
  "connections": {
    "Webhook Nouveau Lead": {
      "main": [
        [
          {
            "node": "Validation Données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Données": {
      "main": [
        [
          {
            "node": "Créer Lead API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Réponse Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer Lead API": {
      "main": [
        [
          {
            "node": "Logger l'Action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Envoyer Email Bienvenue",
            "type": "main",
            "index": 0
          },
          {
            "node": "Envoyer SMS Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Attendre 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logger l'Action": {
      "main": [
        [
          {
            "node": "Notifier Slack (Optionnel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attendre 2s": {
      "main": [
        [
          {
            "node": "Notifier Slack (Optionnel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifier Slack (Optionnel)": {
      "main": [
        [
          {
            "node": "Réponse Succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "creation-lead-complet",
  "meta": {
    "instanceId": "n8n-talosprimes"
  },
  "tags": []
}

