n8n-workflows/facturation/envoyer-facture.json
{
  "name": "💰 Envoyer Facture par Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "envoyer-facture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-facture",
      "name": "Webhook - Déclenchement",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "envoyer-facture"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.document_id }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.customer_email }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.customer_name }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validation-donnees",
      "name": "Validation Données",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://www.talosprimes.com/api/n8n/billing/documents",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "document_id",
              "value": "={{ $json.body.document_id }}"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-document",
      "name": "Récupérer Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        650,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "customer_email",
              "name": "customer_email",
              "value": "={{ $json.data.customer_email }}",
              "type": "string"
            },
            {
              "id": "customer_name",
              "name": "customer_name",
              "value": "={{ $json.data.customer_name }}",
              "type": "string"
            },
            {
              "id": "document_id",
              "name": "document_id",
              "value": "={{ $json.data.id }}",
              "type": "string"
            },
            {
              "id": "document_number",
              "name": "document_number",
              "value": "={{ $json.data.document_number }}",
              "type": "string"
            },
            {
              "id": "document_data",
              "name": "document_data",
              "value": "={{ $json.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-document-data",
      "name": "Extraire Données Document",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        750,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@talosprimes.com",
        "toEmail": "={{ $json.customer_email }}",
        "subject": "Facture {{ $json.document_number }} - Talosprime",
        "emailFormat": "html",
        "text": "",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #10B981 0%, #059669 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n    .content { background: #f9fafb; padding: 30px; border-radius: 0 0 10px 10px; }\n    .alert-box { background: #FEF3C7; border-left: 4px solid #F59E0B; padding: 15px; margin: 20px 0; border-radius: 8px; }\n    .detail-box { background: white; padding: 20px; margin: 20px 0; border-radius: 8px; border-left: 4px solid #10B981; }\n    .detail-row { display: flex; justify-content: space-between; margin: 10px 0; padding: 10px 0; border-bottom: 1px solid #e5e7eb; }\n    .label { font-weight: bold; color: #6b7280; }\n    .value { color: #111827; }\n    .total { font-size: 28px; font-weight: bold; color: #10B981; }\n    .button { display: inline-block; background: #10B981; color: white !important; padding: 15px 30px; text-decoration: none; border-radius: 8px; margin: 20px 0; font-weight: bold; }\n    .button:hover { background: #059669; }\n    .button-secondary { background: #6B7280; }\n    .button-secondary:hover { background: #4B5563; }\n    .footer { text-align: center; color: #6b7280; font-size: 12px; margin-top: 30px; padding-top: 20px; border-top: 1px solid #e5e7eb; }\n    .payment-methods { display: flex; gap: 10px; justify-content: center; margin: 20px 0; }\n    .items-table { width: 100%; border-collapse: collapse; margin: 20px 0; }\n    .items-table th { background: #f3f4f6; padding: 12px; text-align: left; border-bottom: 2px solid #e5e7eb; }\n    .items-table td { padding: 12px; border-bottom: 1px solid #e5e7eb; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📄 Facture</h1>\n      <p>Référence: {{ $json.document_number }}</p>\n    </div>\n    \n    <div class=\"content\">\n      <p>Bonjour <strong>{{ $json.customer_name }}</strong>,</p>\n      \n      <p>Veuillez trouver ci-joint votre facture.</p>\n      \n      <div class=\"alert-box\">\n        <strong>⏰ À régler avant le:</strong> {{ $json.due_date }}<br>\n        <strong>💰 Montant total:</strong> {{ $json.total_amount }}€ TTC\n      </div>\n      \n      <div class=\"detail-box\">\n        <h3>📋 Détails de la Facture</h3>\n        <div class=\"detail-row\">\n          <span class=\"label\">Numéro:</span>\n          <span class=\"value\">{{ $json.document_number }}</span>\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Date d'émission:</span>\n          <span class=\"value\">{{ $json.issue_date }}</span>\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Date d'échéance:</span>\n          <span class=\"value\"><strong>{{ $json.due_date }}</strong></span>\n        </div>\n        {{#if $json.reference }}\n        <div class=\"detail-row\">\n          <span class=\"label\">Référence:</span>\n          <span class=\"value\">{{ $json.reference }}</span>\n        </div>\n        {{/if}}\n      </div>\n      \n      <div class=\"detail-box\">\n        <h3>💰 Montants</h3>\n        <div class=\"detail-row\">\n          <span class=\"label\">Sous-total HT:</span>\n          <span class=\"value\">{{ $json.subtotal }}€</span>\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">TVA ({{ $json.tax_rate }}%):</span>\n          <span class=\"value\">{{ $json.tax_amount }}€</span>\n        </div>\n        {{#if $json.discount_amount }}\n        <div class=\"detail-row\">\n          <span class=\"label\">Remise:</span>\n          <span class=\"value\">-{{ $json.discount_amount }}€</span>\n        </div>\n        {{/if}}\n        <div class=\"detail-row\" style=\"border-bottom: none;\">\n          <span class=\"label\">Total TTC:</span>\n          <span class=\"total\">{{ $json.total_amount }}€</span>\n        </div>\n      </div>\n      \n      <div class=\"detail-box\">\n        <h3>💳 Modalités de Paiement</h3>\n        <p>{{ $json.payment_terms || 'Paiement par virement bancaire sous 30 jours' }}</p>\n        \n        <div style=\"margin-top: 15px;\">\n          <p><strong>Coordonnées bancaires:</strong></p>\n          <p style=\"font-family: monospace; background: #f3f4f6; padding: 15px; border-radius: 8px;\">\n            IBAN: FR76 XXXX XXXX XXXX XXXX XXXX XXX<br>\n            BIC: XXXXXXXXX\n          </p>\n        </div>\n      </div>\n      \n      <div style=\"text-align: center;\">\n        <a href=\"https://www.talosprimes.com/documents/{{ $json.id }}/pdf\" class=\"button\">\n          📥 Télécharger la Facture PDF\n        </a>\n        <br>\n        <a href=\"https://www.talosprimes.com/pay/{{ $json.id }}\" class=\"button button-secondary\">\n          💳 Payer en Ligne\n        </a>\n      </div>\n      \n      <p style=\"text-align: center; color: #6b7280; font-size: 14px; margin-top: 20px;\">\n        En cas de question, contactez-nous à contact@talosprimes.com\n      </p>\n      \n      <p>Cordialement,<br>L'équipe Talosprime</p>\n      \n      <div class=\"footer\">\n        <p>📧 contact@talosprimes.com | 📞 01 XX XX XX XX</p>\n        <p>Talosprime - Solution de gestion automatisée</p>\n        <p style=\"font-size: 10px; margin-top: 10px;\">\n          TVA non applicable, article 293 B du CGI<br>\n          En cas de retard de paiement, une pénalité de 3 fois le taux d'intérêt légal sera appliquée.\n        </p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "send-email",
      "name": "Envoyer Email Facture",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        850,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "Resend SMTP"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.talosprimes.com/api/n8n/billing/documents",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "document_id",
              "value": "={{ $json.document_id }}"
            }
          ]
        },
        "method": "PUT",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "sent"
            },
            {
              "name": "sent_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-status",
      "name": "Mettre à jour Statut",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1050,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.talosprimes.com/api/subscription-logs/log",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "facture_envoyee"
            },
            {
              "name": "level",
              "value": "info"
            },
            {
              "name": "message",
              "value": "Facture {{ $json.document_number }} envoyée à {{ $json.customer_email }} - Montant: {{ $json.document_data.total_amount }}€"
            },
            {
              "name": "metadata",
              "value": "={{ JSON.stringify({ document_id: $json.document_id, document_number: $json.document_number, customer_email: $json.customer_email, amount: $json.document_data.total_amount, due_date: $json.document_data.due_date }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-action",
      "name": "Logger l'Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Facture envoyée avec succès à ' + $json.customer_email, document_number: $json.document_number }) }}"
      },
      "id": "response-success",
      "name": "Réponse Succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1450,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Données invalides. Requis: document_id, customer_email, customer_name' }) }}"
      },
      "id": "response-error-validation",
      "name": "Réponse Erreur Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        400
      ]
    }
  ],
  "connections": {
    "Webhook - Déclenchement": {
      "main": [
        [
          {
            "node": "Validation Données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Données": {
      "main": [
        [
          {
            "node": "Récupérer Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Réponse Erreur Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupérer Document": {
      "main": [
        [
          {
            "node": "Extraire Données Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer Email Facture": {
      "main": [
        [
          {
            "node": "Mettre à jour Statut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mettre à jour Statut": {
      "main": [
        [
          {
            "node": "Logger l'Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logger l'Action": {
      "main": [
        [
          {
            "node": "Réponse Succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraire Données Document": {
      "main": [
        [
          {
            "node": "Envoyer Email Facture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "envoyer-facture",
  "meta": {
    "instanceId": "talosprime"
  },
  "tags": [
    {
      "name": "facturation",
      "createdAt": "2026-01-01T20:00:00.000Z",
      "updatedAt": "2026-01-01T20:00:00.000Z",
      "id": "1"
    }
  ]
}