n8n-workflows/facturation/envoyer-devis.json
{
  "name": "📋 Envoyer Devis par Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "envoyer-devis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-devis",
      "name": "Webhook - Déclenchement",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "envoyer-devis"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.document_id }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.customer_email }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.customer_name }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validation-donnees",
      "name": "Validation Données",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://www.talosprimes.com/api/billing/documents/={{ $json.body.document_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-document",
      "name": "Récupérer Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@talosprimes.com",
        "toEmail": "={{ $json.body.customer_email }}",
        "subject": "Votre devis {{ $json.data.data.document_number }} - Talosprime",
        "emailFormat": "html",
        "text": "",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #4F46E5 0%, #7C3AED 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n    .content { background: #f9fafb; padding: 30px; border-radius: 0 0 10px 10px; }\n    .detail-box { background: white; padding: 20px; margin: 20px 0; border-radius: 8px; border-left: 4px solid #4F46E5; }\n    .detail-row { display: flex; justify-content: space-between; margin: 10px 0; padding: 10px 0; border-bottom: 1px solid #e5e7eb; }\n    .label { font-weight: bold; color: #6b7280; }\n    .value { color: #111827; }\n    .total { font-size: 24px; font-weight: bold; color: #4F46E5; }\n    .button { display: inline-block; background: #4F46E5; color: white !important; padding: 15px 30px; text-decoration: none; border-radius: 8px; margin: 20px 0; font-weight: bold; }\n    .button:hover { background: #4338CA; }\n    .footer { text-align: center; color: #6b7280; font-size: 12px; margin-top: 30px; padding-top: 20px; border-top: 1px solid #e5e7eb; }\n    .items-table { width: 100%; border-collapse: collapse; margin: 20px 0; }\n    .items-table th { background: #f3f4f6; padding: 12px; text-align: left; border-bottom: 2px solid #e5e7eb; }\n    .items-table td { padding: 12px; border-bottom: 1px solid #e5e7eb; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>💼 Nouveau Devis</h1>\n      <p>Référence: {{ $json.data.data.document_number }}</p>\n    </div>\n    \n    <div class=\"content\">\n      <p>Bonjour <strong>{{ $json.body.customer_name }}</strong>,</p>\n      \n      <p>Nous avons le plaisir de vous transmettre notre proposition commerciale.</p>\n      \n      <div class=\"detail-box\">\n        <h3>📄 Détails du Devis</h3>\n        <div class=\"detail-row\">\n          <span class=\"label\">Numéro:</span>\n          <span class=\"value\">{{ $json.data.data.document_number }}</span>\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Date d'émission:</span>\n          <span class=\"value\">{{ $json.data.data.issue_date }}</span>\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Valable jusqu'au:</span>\n          <span class=\"value\">{{ $json.data.data.valid_until }}</span>\n        </div>\n      </div>\n      \n      <div class=\"detail-box\">\n        <h3>💰 Montants</h3>\n        <div class=\"detail-row\">\n          <span class=\"label\">Sous-total HT:</span>\n          <span class=\"value\">{{ $json.data.data.subtotal }}€</span>\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">TVA ({{ $json.data.data.tax_rate }}%):</span>\n          <span class=\"value\">{{ $json.data.data.tax_amount }}€</span>\n        </div>\n        <div class=\"detail-row\" style=\"border-bottom: none;\">\n          <span class=\"label\">Total TTC:</span>\n          <span class=\"total\">{{ $json.data.data.total_amount }}€</span>\n        </div>\n      </div>\n      \n      <div style=\"text-align: center;\">\n        <a href=\"https://www.talosprimes.com/documents/{{ $json.body.document_id }}\" class=\"button\">\n          📥 Télécharger le Devis PDF\n        </a>\n      </div>\n      \n      <p><strong>Ce devis est valable {{ Math.ceil((new Date('{{ $json.data.data.valid_until }}') - new Date()) / (1000 * 60 * 60 * 24)) }} jours.</strong></p>\n      \n      <p>Pour toute question ou demande de modification, n'hésitez pas à nous contacter.</p>\n      \n      <p>Cordialement,<br>L'équipe Talosprime</p>\n      \n      <div class=\"footer\">\n        <p>📧 contact@talosprimes.com | 📞 01 XX XX XX XX</p>\n        <p>Talosprime - Solution de gestion automatisée</p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "send-email",
      "name": "Envoyer Email Devis",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 200],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "Resend SMTP"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.talosprimes.com/api/subscription-logs/log",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "devis_envoye"
            },
            {
              "name": "level",
              "value": "info"
            },
            {
              "name": "message",
              "value": "Devis {{ $json.data.data.document_number }} envoyé à {{ $json.body.customer_email }}"
            },
            {
              "name": "metadata",
              "value": "={{ JSON.stringify({ document_id: $json.body.document_id, document_number: $json.data.data.document_number, customer_email: $json.body.customer_email }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-action",
      "name": "Logger l'Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Devis envoyé avec succès à ' + $json.body.customer_email }) }}"
      },
      "id": "response-success",
      "name": "Réponse Succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Données invalides. Requis: document_id, customer_email, customer_name' }) }}"
      },
      "id": "response-error-validation",
      "name": "Réponse Erreur Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Erreur lors de l\\'envoi: ' + $json.error.message }) }}"
      },
      "id": "response-error-send",
      "name": "Réponse Erreur Envoi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Webhook - Déclenchement": {
      "main": [
        [
          {
            "node": "Validation Données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Données": {
      "main": [
        [
          {
            "node": "Récupérer Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Réponse Erreur Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupérer Document": {
      "main": [
        [
          {
            "node": "Envoyer Email Devis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer Email Devis": {
      "main": [
        [
          {
            "node": "Logger l'Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logger l'Action": {
      "main": [
        [
          {
            "node": "Réponse Succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "envoyer-devis",
  "meta": {
    "instanceId": "talosprime"
  },
  "tags": [
    {
      "name": "facturation",
      "createdAt": "2026-01-01T20:00:00.000Z",
      "updatedAt": "2026-01-01T20:00:00.000Z",
      "id": "1"
    }
  ]
}

