n8n-workflows/facturation/relance-devis-j3.json
{
  "name": "⏰ Relance Devis Expirant",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "cron-daily",
      "name": "Cron - Tous les jours 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://www.talosprimes.com/api/billing/documents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "qs": {
          "parameters": [
            {
              "name": "type",
              "value": "quote"
            },
            {
              "name": "status",
              "value": "sent"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "get-quotes",
      "name": "Récupérer Devis Envoyés",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filtrer les devis qui expirent dans 3 jours\nconst today = new Date();\nconst threeDaysFromNow = new Date(today);\nthreeDaysFromNow.setDate(today.getDate() + 3);\n\nconst quotesExpiringSoon = [];\n\nfor (const item of $input.all()) {\n  const quotes = item.json.data || [];\n  \n  for (const quote of quotes) {\n    if (!quote.valid_until || !quote.customer_email) continue;\n    \n    const validUntil = new Date(quote.valid_until);\n    const daysRemaining = Math.ceil((validUntil - today) / (1000 * 60 * 60 * 24));\n    \n    // Relance si expire dans 3 jours exactement\n    if (daysRemaining === 3) {\n      quotesExpiringSoon.push({\n        json: {\n          ...quote,\n          days_remaining: daysRemaining,\n          valid_until_formatted: validUntil.toLocaleDateString('fr-FR', {\n            weekday: 'long',\n            year: 'numeric',\n            month: 'long',\n            day: 'numeric'\n          })\n        }\n      });\n    }\n  }\n}\n\nreturn quotesExpiringSoon;"
      },
      "id": "filter-expiring",
      "name": "Filtrer Devis Expirant J-3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.days_remaining }}",
              "operation": "equal",
              "value2": 3
            }
          ]
        }
      },
      "id": "check-has-quotes",
      "name": "A des Devis à Relancer ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@talosprimes.com",
        "toEmail": "={{ $json.customer_email }}",
        "subject": "⏰ Rappel : Votre devis {{ $json.document_number }} expire dans 3 jours",
        "emailFormat": "html",
        "text": "",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #F59E0B 0%, #D97706 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n    .content { background: #f9fafb; padding: 30px; border-radius: 0 0 10px 10px; }\n    .warning-box { background: #FEF3C7; border-left: 4px solid #F59E0B; padding: 20px; margin: 20px 0; border-radius: 8px; }\n    .detail-box { background: white; padding: 20px; margin: 20px 0; border-radius: 8px; border-left: 4px solid #F59E0B; }\n    .detail-row { display: flex; justify-content: space-between; margin: 10px 0; padding: 10px 0; border-bottom: 1px solid #e5e7eb; }\n    .label { font-weight: bold; color: #6b7280; }\n    .value { color: #111827; }\n    .total { font-size: 24px; font-weight: bold; color: #F59E0B; }\n    .button { display: inline-block; background: #F59E0B; color: white !important; padding: 15px 30px; text-decoration: none; border-radius: 8px; margin: 20px 0; font-weight: bold; }\n    .button:hover { background: #D97706; }\n    .footer { text-align: center; color: #6b7280; font-size: 12px; margin-top: 30px; padding-top: 20px; border-top: 1px solid #e5e7eb; }\n    .countdown { font-size: 48px; font-weight: bold; color: #F59E0B; text-align: center; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>⏰ Rappel Important</h1>\n      <p>Votre devis expire bientôt !</p>\n    </div>\n    \n    <div class=\"content\">\n      <p>Bonjour <strong>{{ $json.customer_name || 'Client' }}</strong>,</p>\n      \n      <div class=\"warning-box\">\n        <p style=\"margin: 0; font-size: 18px; text-align: center;\">\n          <strong>⚠️ Votre devis {{ $json.document_number }} expire dans :</strong>\n        </p>\n        <div class=\"countdown\">3 JOURS</div>\n        <p style=\"margin: 0; text-align: center;\">\n          Date limite : <strong>{{ $json.valid_until_formatted }}</strong>\n        </p>\n      </div>\n      \n      <p>Nous vous rappelons que notre proposition commerciale <strong>{{ $json.document_number }}</strong> arrive à expiration dans 3 jours.</p>\n      \n      <div class=\"detail-box\">\n        <h3>📋 Récapitulatif du Devis</h3>\n        <div class=\"detail-row\">\n          <span class=\"label\">Numéro:</span>\n          <span class=\"value\">{{ $json.document_number }}</span>\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Date d'émission:</span>\n          <span class=\"value\">{{ $json.issue_date }}</span>\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Valable jusqu'au:</span>\n          <span class=\"value\"><strong style=\"color: #F59E0B;\">{{ $json.valid_until }}</strong></span>\n        </div>\n        <div class=\"detail-row\" style=\"border-bottom: none;\">\n          <span class=\"label\">Montant TTC:</span>\n          <span class=\"total\">{{ $json.total_amount }}€</span>\n        </div>\n      </div>\n      \n      <div style=\"text-align: center;\">\n        <a href=\"https://www.talosprimes.com/documents/{{ $json.id }}/accept\" class=\"button\">\n          ✅ Accepter le Devis\n        </a>\n        <br>\n        <a href=\"https://www.talosprimes.com/documents/{{ $json.id }}\" style=\"color: #6B7280; text-decoration: none; font-size: 14px;\">\n          📥 Télécharger le Devis\n        </a>\n      </div>\n      \n      <p><strong>Pourquoi agir maintenant ?</strong></p>\n      <ul style=\"color: #6b7280;\">\n        <li>Les prix indiqués sont garantis jusqu'à la date d'expiration</li>\n        <li>Disponibilité sous réserve des stocks</li>\n        <li>Délais de livraison susceptibles d'évoluer</li>\n      </ul>\n      \n      <p>Si vous avez des questions ou souhaitez modifier ce devis, n'hésitez pas à nous contacter.</p>\n      \n      <p>Cordialement,<br>L'équipe Talosprime</p>\n      \n      <div class=\"footer\">\n        <p>📧 contact@talosprimes.com | 📞 01 XX XX XX XX</p>\n        <p>Talosprime - Solution de gestion automatisée</p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "send-reminder",
      "name": "Envoyer Email Relance",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 200],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "Resend SMTP"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.talosprimes.com/api/subscription-logs/log",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "relance_devis"
            },
            {
              "name": "level",
              "value": "info"
            },
            {
              "name": "message",
              "value": "Relance J-3 envoyée pour devis {{ $json.document_number }} - Client: {{ $json.customer_email }}"
            },
            {
              "name": "metadata",
              "value": "={{ JSON.stringify({ document_id: $json.id, document_number: $json.document_number, customer_email: $json.customer_email, days_remaining: 3, amount: $json.total_amount }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-reminder",
      "name": "Logger Relance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 200]
    },
    {
      "parameters": {},
      "id": "no-quotes",
      "name": "Aucun Devis à Relancer",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Cron - Tous les jours 9h": {
      "main": [
        [
          {
            "node": "Récupérer Devis Envoyés",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupérer Devis Envoyés": {
      "main": [
        [
          {
            "node": "Filtrer Devis Expirant J-3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrer Devis Expirant J-3": {
      "main": [
        [
          {
            "node": "A des Devis à Relancer ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A des Devis à Relancer ?": {
      "main": [
        [
          {
            "node": "Envoyer Email Relance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aucun Devis à Relancer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer Email Relance": {
      "main": [
        [
          {
            "node": "Logger Relance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "relance-devis",
  "meta": {
    "instanceId": "talosprime"
  },
  "tags": [
    {
      "name": "facturation",
      "createdAt": "2026-01-01T20:00:00.000Z",
      "updatedAt": "2026-01-01T20:00:00.000Z",
      "id": "1"
    },
    {
      "name": "relances",
      "createdAt": "2026-01-01T20:00:00.000Z",
      "updatedAt": "2026-01-01T20:00:00.000Z",
      "id": "2"
    }
  ]
}

