n8n-workflows/inscription-lead.json
{
  "name": "Inscription Lead (Pré-inscription)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inscription-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-inscription-lead",
      "name": "Webhook Inscription Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 400],
      "webhookId": "inscription-lead"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.email }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.first_name }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.last_name }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.phone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validation-lead",
      "name": "Validation Données",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [470, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.talosprimes.com/api/email/send",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "subject",
              "value": "Bienvenue ! Nous vous contactons très prochainement"
            },
            {
              "name": "html",
              "value": "<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f5f5f5;\"><div style=\"background-color: white; padding: 30px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\"><h1 style=\"color: #2563eb; margin-bottom: 20px;\">🎉 Merci pour votre intérêt !</h1><p style=\"font-size: 16px; color: #333; margin-bottom: 15px;\">Bonjour <strong>{{ $json.body.first_name }} {{ $json.body.last_name }}</strong>,</p><p style=\"font-size: 16px; color: #333; margin-bottom: 20px;\">Nous avons bien reçu votre demande d'information concernant <strong>Talos Prime</strong>.</p><div style=\"background-color: #f0f9ff; padding: 20px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #2563eb;\"><h2 style=\"color: #1e40af; margin-top: 0;\">📞 Prochaines étapes</h2><p style=\"margin: 10px 0;\">✅ Notre équipe va vous contacter <strong>sous 24 heures</strong></p><p style=\"margin: 10px 0;\">✅ Nous répondrons à toutes vos questions</p><p style=\"margin: 10px 0;\">✅ Nous vous présenterons les fonctionnalités adaptées à vos besoins</p></div><p style=\"font-size: 14px; color: #666; margin-top: 30px;\">En attendant, n'hésitez pas à nous contacter si vous avez des questions :</p><p style=\"font-size: 14px; color: #666; margin: 5px 0;\">📧 Email : contact@talosprimes.com</p><p style=\"font-size: 14px; color: #666; margin: 5px 0;\">📱 Téléphone : +33 X XX XX XX XX</p><p style=\"font-size: 16px; color: #333; margin-top: 30px;\">À très bientôt ! 🚀</p><p style=\"font-size: 14px; color: #999; margin-top: 40px; padding-top: 20px; border-top: 1px solid #eee;\">L'équipe Talos Prime</p></div></div>"
            }
          ]
        },
        "options": {}
      },
      "id": "send-email-bienvenue",
      "name": "Email Bienvenue Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.talosprimes.com/api/sms/send",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.body.phone }}"
            },
            {
              "name": "message",
              "value": "Merci pour votre intérêt pour Talos Prime ! Notre équipe va vous contacter sous 24h pour vous présenter notre plateforme. À très vite ! 🚀"
            }
          ]
        },
        "options": {}
      },
      "id": "send-sms-lead",
      "name": "SMS Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.talosprimes.com/api/sms/send",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "+33766658863"
            },
            {
              "name": "message",
              "value": "🆕 Nouveau lead inscrit !\n\nNom : {{ $json.body.first_name }} {{ $json.body.last_name }}\nEmail : {{ $json.body.email }}\nTéléphone : {{ $json.body.phone }}\nEntreprise : {{ $json.body.company_name || 'Non renseignée' }}\n\n👉 Connectez-vous pour le contacter"
            }
          ]
        },
        "options": {}
      },
      "id": "send-sms-admin",
      "name": "SMS Admin (Notification)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.talosprimes.com/api/notifications/admin",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "new_lead"
            },
            {
              "name": "title",
              "value": "Nouveau lead inscrit"
            },
            {
              "name": "message",
              "value": "{{ $json.body.first_name }} {{ $json.body.last_name }} ({{ $json.body.email }}) s'est pré-inscrit"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ lead_id: $json.body.lead_id, email: $json.body.email, phone: $json.body.phone }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-notification-admin",
      "name": "Notification In-App Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Lead enregistré et notifications envoyées\" } }}"
      },
      "id": "response-success-lead",
      "name": "Réponse Succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ { \"success\": false, \"message\": \"Données invalides\", \"errors\": [\"Les champs first_name, last_name, email et phone sont obligatoires\"] } }}"
      },
      "id": "response-error-lead",
      "name": "Réponse Erreur",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 500]
    }
  ],
  "connections": {
    "Webhook Inscription Lead": {
      "main": [
        [
          {
            "node": "Validation Données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Données": {
      "main": [
        [
          {
            "node": "Email Bienvenue Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Réponse Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Bienvenue Lead": {
      "main": [
        [
          {
            "node": "SMS Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Lead": {
      "main": [
        [
          {
            "node": "SMS Admin (Notification)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Admin (Notification)": {
      "main": [
        [
          {
            "node": "Notification In-App Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification In-App Admin": {
      "main": [
        [
          {
            "node": "Réponse Succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "inscription-lead",
  "meta": {
    "instanceId": "n8n-talosprimes"
  },
  "tags": []
}

