n8n-workflows/inscription-utilisateur-automatique.json
{
  "name": "Inscription Utilisateur Automatique",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inscription-utilisateur",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-inscription",
      "name": "Webhook Inscription",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 400],
      "webhookId": "inscription-utilisateur"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.email }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.first_name }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.last_name }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.phone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validation",
      "name": "Validation Données",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [470, 400]
    },
    {
      "parameters": {
        "jsCode": "// Générer un mot de passe aléatoire sécurisé\nconst length = 12;\nconst uppercase = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';\nconst lowercase = 'abcdefghijklmnopqrstuvwxyz';\nconst numbers = '0123456789';\nconst special = '!@#$%^&*';\n\nconst allChars = uppercase + lowercase + numbers + special;\n\n// Garantir au moins 1 de chaque type\nlet password = '';\npassword += uppercase[Math.floor(Math.random() * uppercase.length)];\npassword += lowercase[Math.floor(Math.random() * lowercase.length)];\npassword += numbers[Math.floor(Math.random() * numbers.length)];\npassword += special[Math.floor(Math.random() * special.length)];\n\n// Compléter avec des caractères aléatoires\nfor (let i = password.length; i < length; i++) {\n  password += allChars[Math.floor(Math.random() * allChars.length)];\n}\n\n// Mélanger le mot de passe\npassword = password.split('').sort(() => Math.random() - 0.5).join('');\n\nreturn {\n  ...items[0].json,\n  generated_password: password\n};"
      },
      "id": "generate-password",
      "name": "Générer Mot de Passe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.talosprimes.com/api/auth/create-user-with-password",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "password",
              "value": "={{ $json.generated_password }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.body.first_name }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.body.last_name }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.phone }}"
            },
            {
              "name": "company",
              "value": "={{ $json.body.company }}"
            },
            {
              "name": "password_change_required",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "create-user",
      "name": "Créer Utilisateur",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.talosprimes.com/api/email/send",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "subject",
              "value": "Bienvenue sur Talos Prime - Vos identifiants"
            },
            {
              "name": "html",
              "value": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f5f5f5;\"><div style=\"background-color: white; padding: 30px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\"><h1 style=\"color: #2563eb; margin-bottom: 20px;\">🎉 Bienvenue sur Talos Prime !</h1><p style=\"font-size: 16px; color: #333; margin-bottom: 15px;\">Bonjour <strong>{{ $json.body.first_name }} {{ $json.body.last_name }}</strong>,</p><p style=\"font-size: 16px; color: #333; margin-bottom: 20px;\">Votre compte a été créé avec succès. Nous sommes ravis de vous compter parmi nous !</p><div style=\"background-color: #f0f9ff; padding: 20px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #2563eb;\"><h2 style=\"color: #1e40af; margin-top: 0;\">🔐 Vos identifiants de connexion :</h2><p style=\"margin: 10px 0;\"><strong>Email :</strong> {{ $json.body.email }}</p><p style=\"margin: 10px 0;\"><strong>Mot de passe temporaire :</strong> <code style=\"background: #e5e7eb; padding: 5px 10px; border-radius: 4px; font-size: 18px; color: #dc2626;\">{{ $json.generated_password }}</code></p></div><div style=\"background-color: #fef3c7; padding: 15px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #f59e0b;\"><p style=\"margin: 0; color: #92400e;\"><strong>⚠️ IMPORTANT :</strong> Vous devrez changer ce mot de passe lors de votre première connexion pour des raisons de sécurité.</p></div><div style=\"text-align: center; margin: 30px 0;\"><a href=\"https://www.talosprimes.com/auth/login\" style=\"display: inline-block; background-color: #2563eb; color: white; padding: 15px 30px; text-decoration: none; border-radius: 8px; font-weight: bold; font-size: 16px;\">Se connecter maintenant</a></div><hr style=\"border: none; border-top: 1px solid #e5e7eb; margin: 30px 0;\"><p style=\"font-size: 14px; color: #6b7280; text-align: center;\">L'équipe Talos Prime<br>Si vous n'avez pas demandé cette inscription, veuillez ignorer cet email.</p></div></div>"
            }
          ]
        },
        "options": {}
      },
      "id": "send-email-user",
      "name": "Email Utilisateur (avec mot de passe)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.talosprimes.com/api/sms/send",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Bienvenue sur Talos Prime ! Votre compte a été créé. Consultez votre email pour vos identifiants de connexion."
            }
          ]
        },
        "options": {}
      },
      "id": "send-sms-user",
      "name": "SMS Utilisateur (bienvenue)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.talosprimes.com/api/sms/send",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "+33VOTRE_NUMERO_ADMIN"
            },
            {
              "name": "message",
              "value": "=🎉 Nouveau client inscrit !\nNom : {{ $json.body.first_name }} {{ $json.body.last_name }}\nEmail : {{ $json.body.email }}\nTél : {{ $json.body.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-sms-admin",
      "name": "SMS Admin (notification)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.talosprimes.com/api/notifications/admin",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "new_registration"
            },
            {
              "name": "title",
              "value": "Nouveau client inscrit"
            },
            {
              "name": "message",
              "value": "={{ $json.body.first_name }} {{ $json.body.last_name }} vient de s'inscrire"
            },
            {
              "name": "data",
              "value": "={{ { \"email\": $json.body.email, \"phone\": $json.body.phone, \"company\": $json.body.company } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notification-admin",
      "name": "Notification In-App Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1130, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Inscription réussie. Consultez votre email pour vos identifiants.\" } }}"
      },
      "id": "response-success",
      "name": "Réponse Succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1350, 350]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ { \"success\": false, \"message\": \"Données invalides\", \"errors\": [\"Les champs first_name, last_name, email et phone sont obligatoires\"] } }}"
      },
      "id": "response-error",
      "name": "Réponse Erreur",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 500]
    }
  ],
  "connections": {
    "Webhook Inscription": {
      "main": [
        [
          {
            "node": "Validation Données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Données": {
      "main": [
        [
          {
            "node": "Générer Mot de Passe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Réponse Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Générer Mot de Passe": {
      "main": [
        [
          {
            "node": "Créer Utilisateur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer Utilisateur": {
      "main": [
        [
          {
            "node": "Email Utilisateur (avec mot de passe)",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMS Utilisateur (bienvenue)",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMS Admin (notification)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notification In-App Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Utilisateur (avec mot de passe)": {
      "main": [
        [
          {
            "node": "Réponse Succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Utilisateur (bienvenue)": {
      "main": [
        [
          {
            "node": "Réponse Succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Admin (notification)": {
      "main": [
        [
          {
            "node": "Réponse Succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification In-App Admin": {
      "main": [
        [
          {
            "node": "Réponse Succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "inscription-utilisateur-automatique",
  "meta": {
    "instanceId": "n8n-talosprimes"
  },
  "tags": []
}

